<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <a href="http://www.freewholesaleschool.com" target="_blank">
            <img src="{{ url_for('static', filename='image.png') }}" alt="Logo" class="logo">
        </a>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
